{% extends 'base.html' %}

{% block meta %}
<title>Data Mahasiswa</title>
{% endblock meta %}

{% block content %}
<h2>Data Mahasiswa</h2>
{% for isi in data %}
<strong>{{isi.nim}}</strong><br>
Nama : {{isi.nama}}<br>
Email : {{isi.email}}<br>
<button type="button" class="btn btn-primary" onclick="location.href='{% url 'main:update-mhs' isi.id %}'">Edit</button>
<button type="button" class="btn btn-danger" onclick="location.href='{% url 'main:delete-mhs' isi.id %}'">Hapus</button>
<hr>
{% endfor %}
{% endblock content %}
