{% extends 'base.html' %}

{% block meta %}
<title>Belajar Django | {{judul}}</title>
{% endblock meta %}

{% block content %}
<h2>Selamat Datang, Pengunjung!</h2>
<br>
<h3 style="font-weight:bold">What is Django?</h3>
Django is a high-level Python Web framework that encourages rapid development and clean pragmatic design. A Web framework is a set of components that provide a standard way to develop websites fast and easily. Django’s primary goal is to ease the creation of complex database-driven websites. Some well known sites that use Django include PBS, Instagram, Disqus, Washington Times, Bitbucket and Mozilla.
{% endblock content %}
